/* Inicio do Body */

body {
  font-family: "Open Sans";
  /*padding-bottom: 40px;*/
  color:#345945  ;
  font-height: bold;
  background-color: white;
}


/* Estilo da navbar */

/* Classe especial em .container em torno .navbar, usado para posicioná-lo no lugar. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  lissoeft: 0;
  z-index: 20;
}

/* Virar ao redor do preenchimento para exibição adequada em viewports estreito */
.navbar-wrapper > .container {
  padding:20px;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-inverse{
border-color: #2e6da4;
}

.navbar-inverse .navbar-nav>.active>a:hover{
  background-color: white;
}
/* Estilo do carousel */

/* Carrossel da base(classes) */
.carousel {
  margin-bottom: 20px;
}

.carousel-inner {
  height: 100vh;
}

/* Desde que posicionamos a imagem, precisamos ajudar o caption */
.carousel-caption {
  z-index: 10;
  color: white;
  font-weight: bold;
  font-size: 40px;
  font-family: "Open Sans";
  text-shadow: 1px 1px 4px rgba(0,0,0,1);
}

/* Declarar altura por causa do posicionamento do elemento img */
.carousel .item {
  height:600px;
  background-color: white;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  /*opacity: 0.7;*/
  margin-top:50px;
}


/* Conteudo marketing */

/* Centro alinhar o texto dentro das três colunas abaixo do carousel*/
.img-circulo{ 
  border-radius: 100px;
  background-size: cover;
    }

.col-lg-4{
  display: flex;
  align-items: center;
  flex-direction: column;
 }

.container-escolas .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;

}
.container-escolas h2{
  font-weight: "Open Sans";
  font-size: 28px;
}
.container-escolas.col-lg-4 p {
  margin-right: 12px;
  margin-left: 12px;
}


/* Inicio Row conteudos  */

.row.conteudos{
  padding: 0 30px;
  background-color: #fcaf17;
 
}

.row.conteudos img{
  border-radius: 100px;
}
.conteudos-divider {
  margin: 0px 30px; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.conteudos-tema {
  font-weight: bold;
  line-height: 1;
  letter-spacing: -1px;
}

p.botao{
  display: flex;
  justify-content: center;
}


/* Final Row conteudos  */

/* Inicio Rodapé  */
.rodape-final{
  background-color: #8B0000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px;
  height: 200px;
  

}

/* Final Rodapé  */
/* CSS responsivo  */

@media (min-width: 768px) {
  /* Posição do navbar */

  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* O navbar torna-se destacado do topo, por isso voltamos os cantos */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Aumentar o contéudo do carousel */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .conteudos-tema{
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .conteudos-tema {
    margin-top: 120px;
  }
}
